<!DOCTYPE HTML>
<html lang="eng" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

	<head>
	
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
	</head>
	
	<body>
	
		<div id="navContainer" th:fragment="navbar">
			<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/index}" style="margin-left: 5%">Devops Utility Dashboard</a>
				</div>
			</nav>
		</div>
	
	
	</body>
</html>